header {
  background-color: #ffced6;
  display: flex;
  align-items: center;
  justify-content: center; }
  header li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 50px; }
    header li a {
      text-decoration: none; }

.facebook {
  color: blue; }

.instagram {
  color: violet; }

.twitter {
  color: lightblue; }

.primerEstilo, .segundoEstilo {
  font-size: 20px;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.segundoEstilo {
  font-size: 30px; }

.parrafosConEstilo {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center; }

h1 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color: #ffced6;
  text-transform: uppercase; }
  h1:hover {
    color: white; }

div p {
  color: black;
  font-size: 35px; }

h2 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #ffced6;
  text-transform: uppercase; }
  h2:hover {
    color: white; }

h3 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #ffced6;
  text-transform: uppercase; }
  h3:hover {
    color: white; }
